<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> LOGIN </title>
    </head>
    <body>
        <section class="form-login">
            <h5>LOGIN</h5>
            <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
            <input class="controls" type="password" name="contraseña" value="" placeholder="Contraseña">
            <input class="buttons" type="submit" name="" value="Ingresar" >
            <p><a href="#">¿Olvidaste tu contraseña?</a></p>
        </section>
    </body>
</html>